/* Utilities  */
p {
    margin: 10px 0;
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }
  ol {
    font-size: 18px;
  }
  /* Section header */
  .section_header_business {
    background-color: var(--backgroundcolor);
  }
  .header {
    display: flex;
    align-items: start;
    background: var(--backgroundcolor);
  }
  .header .box {
    flex: 1;
    background: var(--primarycolor);
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .header .box:nth-of-type(1) {
    flex-grow: 2;
  }
  .header .box:nth-of-type(2) {
    flex-grow: 1;
  }
  .container_buttons_links_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container_buttons_links_header a:hover {
    color: #f29545;
  }
  .container_buttons_links_header btn {
    width: 100px;
    height: 100px;
    background: #f29545;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Section business */
  .section_body_business {
    background-color: var(--backgroundcolor);
  }
  .business {
    display: flex;
    align-items: start;
    background: var(--backgroundcolor);
  }
  /* Table with one column */
  .business .box_table1 {
    flex: 1;
    background: #f26934;
    color: black;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .business .box_table1:nth-of-type(1) {
    flex-grow: 1;
    background: #f3ca99;
  }
  .business .box_table1:nth-of-type(2) {
    flex-grow: 4;
  }
  .business .box_table1:nth-of-type(3) {
    flex-grow: 1;
    background: #f3ca99;
  }
  /* Table with two columns */
  .business .box_table2 {
    flex: 1;
    background: #f26934;
    color: black;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .business .box_table2:nth-of-type(1) {
    flex-grow: 1;
    background: var(--primarycolor);
  }
  .business .box_table2:nth-of-type(2) {
    flex-grow: 1;
    background: var(--primarycolor);
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
    }
    .business {
      flex-direction: column;
    }
  }